<div ng-controller="inputCtl">
  <div class="home" style="margin-top: 60px;">

      <div class="row justify-content-md-center">
        <div class="cover-photo">
        <div class="">
            <div class="overlay-layer">
              <div class="overlay-text">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="col-lg-5" style="text-align: left;">
                      Rain Storm Tracking System
                      <!-- <p style="color: #a8c9cf;">
                        Rainstorm Tracker tool is an operational storm analyser developed to monitor and alert the severity of storm events over the Lower Mekong basin in near-real time. This system employs a 4D object-based recognition approach to track and evaluate the severity of storms detected by satellites. With the rainstorm tracker, regional organizations can improve the flash flood early warnings capabilities thereby reducing risk.
                      </p> -->
                      <p style="color: #a8c9cf;">
                        <b>Historical</b>: historical information of rainstorms during monsoon season from 2014 to 2019 using the <a href="https://gpm.nasa.gov/data/imerg">Integrated Multi-satellitE Retrievals for GPM (IMERG) final version</a>
                      </p>
                      <p style="color: #a8c9cf;">
                        <b>NEAR REAL TIME</b>:  Near real time (6 hour latency) Storm monitoring  of the past 48 hours storm events using the <a href="https://gpm.nasa.gov/data/imerg">Integrated Multi-satellitE Retrievals for GPM (IMERG) early version</a>
                      </p>
                      <p style="color: #a8c9cf;">
                        <b>REAL TIME</b>: real time (1 hour latency) Storm monitoring  of the past 48 hours storm events using the <a href="https://sharaku.eorc.jaxa.jp/GSMaP/guide.html">Global Satellite Mapping of Precipitation (GSMaPNOW) </a>
                      </p>
                      <a href="/map" class="btn-home">HISTORICAL</a>
                      <a href="/operational-map" class="btn-home btn-transparent">NEAR REAL TIME</a>
                      <a href="/realtime-map" class="btn-home btn-transparent">REAL TIME</a>
                    </div>
                    <div class="col-lg-7" style="text-align: right;">
                      <img src="/modules/home/client/img/rainstorms-play-animation2.gif" loop="infinite" alt="" width="100%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div>
        <div class="container">
          <div class="col-lg-12 col-md-6">
            

          </div>
        </div>

      </div>


      <div class="container" style="padding-top:50px;">
        
        
        <div class="row justify-content-md-center">
          
            <div class="col-lg-12 align-items-center">
              <h3 style="color:#333;">Summary of the events</h3>
                <ul  class="switchbutton" style="list-style: none;padding-inline-start: 0px; cursor: pointer;float: left;">
                  <li class="active" id="realtime_data">REAL TIME</li>
                  <li id="nearrealtime_data">NEAR REAL TIME</li>
                </ul> 
            </div>
          <div class="col-lg-6 col-md-6">
            <div id="container" style="height: 400px; width: 500px"></div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="dashboard-1">
                  THAILAND
                  <div class="no-storms" id="Thailand"></div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="dashboard-1">
                  LAOS
                  <div class="no-storms" id="Laos"></div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="dashboard-1">
                  MYANMAR
                  <div class="no-storms" id="Myanmar"></div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="dashboard-1">
                  CAMBODIA
                  <div class="no-storms" id="Cambodia"></div>
                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="dashboard-1">
                  VIETNAM
                  <div class="no-storms" id="Vietnam"></div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="dashboard-1">
                  OCEAN
                  <div class="no-storms" id="China-Ocean"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div style=" background-image: url('/modules/home/client/img/blue-bg.png'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: auto;min-height: 550px;padding-top:50px; padding-bottom: 60px;">
        <div class="container">
          <div class="col-lg-12 col-md-6">
            <h2>Rainstorms tracker</h2>
            <p>
              The rainstorm tracker relies on a  peer-reviewed spatiotemporal storm recognition method called Spatiotemporal Object-based Rainfall Analysis method (ST-CORA).
              This method is developed by <a href="https://www.sciencedirect.com/science/article/pii/B9780128116890000057">Laverde-Barajas et al.(2019)</a> to analyse the main characteristics of the storm events at the catchment scale.
              With ST-CORA with Multivariate kernel density estimation (KDE) proposed <a href="https://www.mdpi.com/2072-4292/12/21/3538">Laverde-Barajas et al. (2020a)</a> storm can be segmented using the four-dimensions of the storm.  The 4D object-based storm recognition is composed into the following steps.
            </p>

            <div class="row">

              <div class="col-lg-3 col-md-6">
                <img src="/modules/home/client/img/1_CRA.png" alt="" width="100%">
                <p>
                  Spatiotemporal Continuous rainfall Analysis: A multidimensional connected-labelling component is implemented to identify convective rainfall systems in space and time.
                </p>
              </div>
              <div class="col-lg-3 col-md-6">
                <img src="/modules/home/client/img/2_KED.png" alt="" width="100%">
                <p>
                  Probabilistic storm segmentation (KDE): Storm events are segmentation using a multivariate edge detection based on Kernel Density Estimation
                </p>
              </div>
              <div class="col-lg-3 col-md-6">
                <img src="/modules/home/client/img/3_Seg.png" alt="" width="100%">
                <p>
                  Multi Threshold analysis:  This process is applied to identify substorm events over large convective systems.
                </p>
              </div>
              <div class="col-lg-3 col-md-6">
                <img src="/modules/home/client/img/4_tracks.png" alt="" width="100%">
                <p>
                  Storm track detection: Definition of the storm track using the skeletal structure of the storm event.
                </p>
              </div>

            </div>

          </div>
        </div>

      </div>

      <section>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6 logo-box">
              <img src="modules/home/client/img/partners/usaid.png" alt="" style="width:auto; height:70px;">
              <p>United States Agency for International Development (USAID)</p>
            </div>
            <div class="col-lg-4 col-md-6 logo-box">
              <img src="modules/home/client/img/partners/nasa.png" alt="" style="width:auto; height:70px;">
              <p>The National Aeronautics and Space Administration</p>
            </div>
            <div class="col-lg-4 col-md-6 logo-box">
              <img src="modules/home/client/img/partners/adpc.png" alt="" style="width:auto; height:60px; margin-top:9px;">
              <p>Asian Disaster Preparedness Cente</p>
            </div>
          </div>
          <br>
          <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6 logo-box">
              <img src="modules/home/client/img/partners/sig.png" alt="" style="width:auto; height:45px;margin-bottom:10px;">
              <p>Spatial Information Group</p>
            </div>
            <div class="col-lg-4 col-md-6 logo-box">
              <img src="modules/home/client/img/partners/ihe-delft.png" alt="" style="width:auto; height:60px;">
              <p>IHE Delft Institute for Water Education</p>
            </div>
            <div class="col-lg-4 col-md-6 logo-box">
              <img src="modules/home/client/img/partners/tu-delft-university.png" alt="" style="width:auto; height:60px;">
              <p>Delft University of Technology</p>
            </div>
            <!-- <div class="col-lg-3 col-md-6 logo-box">
              <img src="modules/home/client/img/partners/wageningen_university.png" alt="" style="width:auto; height:40px;margin-bottom:10px;margin-top:10px;">
              <p>Wageningen University</p>
            </div> -->
          </div>

        </div>
      </section>

      <footer id="footer">

			<div class="footer-top" style="background-image: url('modules/home/client/img/dark-blue-bg.png');height: 100px;background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%;">
        <div class="container">
        </div>
      </div>
			<div class="footer-top" style="background:#243549;">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-md-6 footer-info">
              <h3><img src="modules/home/client/img/partners/servir-mekong.png" alt="" style="width:auto; height:35px;"></h3>

              <p>
                <b>ASIAN DISASTER PREPAREDNESS CENTER (ADPC)</b> <br>
                SM Tower, 24th Floor, 979/69 Paholyothin Road, Samsen Nai Phayathai,<br>
                Bangkok 10400 Thailand<br>
                BTS Skytrain: Sanam Pao, Exit 1<br>
                <strong>Phone:</strong> +66 2 298 0681-92<br>
                <strong>Fax:</strong> +66 2 298 0012<br>
								<strong>For technical queries: </strong>miguel.barajas@adpc.net 
              </p>
              <div class="social-links mt-3">
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Menu Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/map" target="_blank">Historical Map</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/operational-map" target="_blank">Operational Map</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://docs.google.com/document/d/e/2PACX-1vQ-SUPsHBc488TO8pcqUfYuqUgYSm77lfHhKF3zN33rG20v6l6rStmQmIDt_kOMnCrgYhsRj235YhrL/pubg" target="_blank">How to use</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="http://hydrafloods-servir.adpc.net/" target="_blank">HyDraFloods</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://hfa.adpc.net/en/" target="_blank">Historical Flood Analysis Tool</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="http://surface-water-servir.adpc.net/" target="_blank">Surface Water Mapping Tool</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="http://damtool-servir.adpc.net/" target="_blank">Reservoir Mapping Tool</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>


      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Rainstroms Tracker</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- End Footer -->


  </div>
</div>
