
<div ng-controller="mapFFGCtrl">

  <div id="menu-left" class="sidenav sidenav-menu">
    <div class="">
      <div class="searching-form"
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <!-- <div class="col-sm-6">
            <div class="form-group">
            <label for="exampleInputEmail1">SEARCH BY STORM ID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" value="">
          </div>
        </div> -->
        <div class="col-sm-12">
          <span class="closeMenu">&times;</span>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleInputEmail1">COUNTRY </label>
            <button data-toggle="tooltip" data-html="true" data-placement="bottom" title="Select Country" class="tooltip-btn" >i</button>
            <div class="row">
              <div class="col-sm-12">
                <select class="form-control" id="country_select" style="font-size: 12px; padding: 0; padding-left: 10px;">
                  <option value="mekong" >All</option>
                  <option value="cambodia">Cambodia</option>
                  <option value="laos">Laos</option>
                  <option value="thailand">Thailand</option>
                  <option value="vietnam">Vietnam</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleInputEmail1">DATE</label>
            <input class="form-control"  type="text" name="select_date" id="select_date" value="">
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">

            <input type="checkbox" id="riskmap" name="riskmap" value="ffgmap" checked>
            <label for="riskmap"> Flash flood information waning</label><br>

            <input type="checkbox" id="ffgmap" name="ffgmap" value="ffgmap">
            <label for="ffgmap"> Flash flood Parameter</label><br>

            <div class="col-lg-12">
              <!-- <label for="exampleInputEmail1">PARAMETER</label> -->
              <!-- <br> -->
              <input type="radio" id="ASMT" name="ffg_param" value="ASMT">
              <label for="ASMT">Average soil water </label><br>

              <input type="radio" id="FFG01" name="ffg_param" value="FFG01" checked>
              <label for="FFG01">Flash flood guidance 1 hour</label><br>

              <input type="radio" id="FFG03" name="ffg_param" value="FFG03">
              <label for="FFG03">Flash flood guidance 3 hour</label><br>

              <input type="radio" id="FFG06" name="ffg_param" value="FFG06">
              <label for="FFG06">Flash flood guidance 6 hour</label><br>

              <input type="radio" id="FMAP101" name="ffg_param" value="FMAP101">
              <label for="FMAP101">Area forecasted 1 hour</label><br>

              <input type="radio" id="FMAP103" name="ffg_param" value="FMAP103">
              <label for="FMAP103">Area forecasted 3 hour</label><br>

              <input type="radio" id="FMAP106" name="ffg_param" value="FMAP106">
              <label for="FMAP106">Area forecasted 6 hour</label><br>

              <input type="radio" id="FMAP124" name="ffg_param" value="FMAP124">
              <label for="FMAP124">Area forecasted 24 hour</label><br>
            </div>

          </div>
        </div>



        <!-- <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleInputEmail1">STORM VOLUME </label>
            <button data-toggle="tooltip" data-html="true" data-placement="bottom" title="Total storm volume (km3)" class="tooltip-btn" >i</button>
            <div class="row">
              <div class="col-sm-5">
                <input type="text" class="form-control" id="start_vol" value="">
              </div>
              <div class="col-sm-1" style="color:#FFF;">
                TO
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="end_vol" value="">
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleInputEmail1">STORM DURATION</label>
            <button data-toggle="tooltip" data-html="true" data-placement="bottom" title="Defind duration range <br> (hours)" class="tooltip-btn" >i</button>
            <div class="row">
              <div class="col-sm-5">
                <input type="text" class="form-control" id="start_duration" value="">
              </div>
              <div class="col-sm-1" style="color:#FFF;">
                TO
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="end_duration" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="">MAX INTENSITY (mm/hr)</label>
            <button data-toggle="tooltip" data-html="true" data-placement="bottom" title="Maximum intensity (mm/h)" class="tooltip-btn" >i</button>
            <div class="divSlider">
              <div style="width:95%; margin:3px;">
                <input type="text" class="js-range-slider" id="slider-max" name="slider-max" />
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-sm-12">
          <hr>
          <button type="submit" class="btn btn-primary" id="search-filter-btn">SEARCH</button>
          <a class="btn btn-primary" href="/bulletin" style=" width: 150px; display: inline; padding: 5px;text-decoration: none;font-size: 14px;color: #ffffff;">create bulletin</a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<div id="menu-layers" class="sidenav sidenav-menu">
  <div class="">
    <div class="searching-form"
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <span class="closeMenu">&times;</span>
              <label style="font-size:12px; font-weight: 700;"><b>LAYERS</b></label>
              <ul class="toggles-list">

                <li class="toggle"><label class="switch_layer"><input  name="mainlakes" id="mainlakes"type="checkbox"><span class="slider_toggle round"></span></label><label>Main Lakes</label></li>
                <li class="toggle"><label class="switch_layer"><input  name="river" id="river" type="checkbox"><span class="slider_toggle round"></span></label><label>River</label></li>
                <li class="toggle"><label class="switch_layer"><input  name="mekong_basin" id="mekong_basin" type="checkbox"><span class="slider_toggle round"></span></label><label>Mekong Basin Area</label></li>
                <li class="toggle"><label class="switch_layer"><input  name="subprovince" id="subprovince" type="checkbox"><span class="slider_toggle round"></span></label><label>Subprovince boundary</label></li>
                <li class="toggle" id="toggle_storm_affected_area" style="display:none;"><label class="switch_layer"><input  name="affected_area" id="affected_area"  checked="checked" type="checkbox"><span class="slider_toggle round"></span></label><label>Affected Area of the storm event</label></li>
                <!-- <li class="toggle"><label class="switch_layer"><input  name="storm_events" id="storm_events" checked="checked" type="checkbox"><span class="slider_toggle round"></span></label><label>Storm Events </label></li> -->
                <!-- <li class="toggle" id="toggle_storm_image" style="display:none;"><label class="switch_layer"><input  name="storm_image" id="storm_image"  checked="checked" type="checkbox"><span class="slider_toggle round"></span></label><label>Storm  Image </label></li> -->
                <li class="toggle"><label class="switch_layer"><input  name="geographic_coverage" id="geographic_coverage" type="checkbox"><span class="slider_toggle round"></span></label><label>Geographic Coverage</label></li>
                <li class="toggle"><label class="switch_layer"><input  name="mekong_bb" id="mekong_bb" type="checkbox"><span class="slider_toggle round"></span></label><label>Lower Mekong Bounding Box</label></li>
                <li class="toggle"><label class="switch_layer"><input  name="mekong_country" id="mekong_country" checked="checked" type="checkbox"><span class="slider_toggle round"></span></label><label>Country boundary</label></li>


              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sidenav-table" class="sidenav" style="right:0px;padding-bottom: 150px;">
  <div class="table-items">
    <label>Sub-provinces</label><span style="float:right;" id="found-no"></span>
    <span class="closebtn" id="table-close">&times;</span>
    <div class="">
      <button id='DLtoExcel' class="btn btn-default btn-sm">Export Data</button>
      <button data-toggle="tooltip" data-html="true" data-placement="bottom" title="Download list of storm(s) in excel format" class="tooltip-btn" >i</button>
    </div>
    <ul id="tableOperationalList"></ul>
  </div>
</div>

<div id="detail-panel" class="sidenav detail-right">
  <span class="minimizebtn" id="detail-minimize">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
      <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
    </svg>
  </span>
  <span class="closebtn box-closebtn" id="detail-close">&times;</span>
  <div class="">
    <p id="date-text" class="date-text-detail"></p>
    <p id="time-text" class="time-text-detail"></p>
    <div class="text-center"></div>
  </div>

  <div class="table-detail"></div>
</div>

<!--
<div class="table-subprovince-detail">
  <div class="info-area-class">

        <div class="col-lg-12">
          <span class="close">&times;</span>
          <p id="area_name" style="color:#40E0D0;font-size:16px;font-weight:600;"></p>
          <br>
        <div class="row">
          <div class="col-lg-12">
            <h4>Social Vulnerability</h4>
            <div class="row">
                <div id="pop-age-chart" class="col-lg-3 text-center">
                  <img src="/modules/ffg-map/client/img/pop.png" style="width: 100%" alt="">
                </div>
                <div id="pop-age-chart" class="col-lg-9" >
                  <p>Total Population</p>
                  <h1 style="font-size: 20px; font-weight: 700;color: #2f80ed;" id="total_pop">-</h1>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-6">
            <div class="row">
              <div id="pop-age-chart" class="col-lg-3 text-center">
                <img src="/modules/ffg-map/client/img/female.png" style="width: 100%" alt="">
              </div>
              <div id="pop-age-chart" class="col-lg-9" >
                <p>Female Population</p>
                <h2 style="color: #bb6bd9;font-size: 16px;" id="female">-</h2>
                <table style="width:100%">
                  <tr>
                    <td style="width:50%">Age 0-15</td>
                    <td style="width:50%" id="F_0_15"></td>
                  </tr>
                  <tr>
                    <td style="width:50%">Age 15-65</td>
                    <td style="width:50%" id="F_15_65"></td>
                  </tr>
                  <tr>
                    <td style="width:50%">Age > 65</td>
                    <td style="width:50%" id="F__65"></td>
                  </tr>
                </table>

              </div>
            </div>

          </div>

          <div class="col-lg-12 col-md-6" style="margin-top: 20px;">
            <div class="row">
              <div id="pop-age-chart" class="col-lg-3 text-center">
                <img src="/modules/ffg-map/client/img/male.png" style="width: 90%" alt="">
              </div>
              <div id="pop-age-chart" class="col-lg-9" >
                <p>Male Population</p>
                <h2 style="color: #2d9cdb;font-size: 16px;" id="male">-</h2>
                <table style="width:100%">
                  <tr>
                    <td style="width:50%">Age 0-15</td>
                    <td style="width:50%" id="M_0_15"></td>
                  </tr>
                  <tr>
                    <td style="width:50%">Age 15-65</td>
                    <td style="width:50%" id="M_15_65"></td>
                  </tr>
                  <tr>
                    <td style="width:50%">Age > 65</td>
                    <td style="width:50%" id="M__65"></td>
                  </tr>
                </table>


              </div>
            </div>
            <br>
            <table style="width:100%">
              <tr>
                <td style="width:50%">Hospital</td>
                <td style="width:50%" id="hospitals"></td>
              </tr>
            </table>
          </div>

        </div>
        <br>

        <div class="row">
          <div class="col-lg-12 col-md-6">
            <h4>Physical Vulnerability</h4>
              <p>Road Type</p>
              <table style="width:100%">
                <tr>
                  <td style="width:50%">Trunks</td>
                  <td style="width:50%" id="trunks"></td>
                </tr>
                <tr>
                  <td style="width:50%">Primary</td>
                  <td style="width:50%" id="primary"></td>
                </tr>
                <tr>
                  <td style="width:50%">Seconday</td>
                  <td style="width:50%" id="secondary"></td>
                </tr>
              </table>
            </div>
          </div>
        <br>

        <div class="row">
          <div class="col-lg-12 col-md-6">
            <h4>Economic Vulnerability</h4>
            <table style="width:100%">
              <tr>
                <td style="width:50%">Gross domestic product (GDP)</td>
                <td style="width:50%" id="GDP_in_cur"></td>
              </tr>
              <tr>
                <td style="width:50%">Crop lands</td>
                <td style="width:50%" id="cropland_E"></td>
              </tr>
            </table>

            </div>
          </div>
        </div>
      </div>
</div> -->

<div id="minimize-detail-panel" class="sidenav hide">
  <span class="minimizebtn" id="detail-minimize-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
      <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
    </svg>
  </span>
  <span class="closebtn box-closebtn" id="detail-close-2">&times;</span>
  <p>Storm Detail</p>
</div>

<div class="main">
  <nav>
    <ul id="mainMenu">
    </ul>
  </nav>
  <div id="map" style="position: absolute; top: 0; bottom: 0; left: 0; width: 100%;height: 100%;">
    <!-- Alert Container -->
    <div id="alertBox" class="alert alert-dismissible display-none custom-alert" role="alert" style="z-index: 999;position: absolute;margin-top: 100px;">
        <button id="closeAlert" type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong id="alertType"></strong> <span id="alertContent"></span>
    </div>

    <!-- <div ng-show="showAlert" style="z-index: 999;position: absolute;margin-top: 100px;left: 35%;">
      <div class="alert alert-success">
          <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>
        <!-- <div class="alert alert-info">
          <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
        </div>
        <div class="alert alert-warning">
          <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
        </div>
        <div class="alert alert-danger">
          <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
        </div> -->
    </div> -->

    <div id="loader" class="map-loading" >
        <!-- <i class="loading-img fas fa-spinner fa-pulse fa-4x"></i> -->
        <div class="loading-text">
          Loading...
        </div>

    </div>

    <!-- <div class="control-panel map-component">
      <div class="scalebar-container"></div>
      <ul>
        <li class="zoom-in pointer" id="zoom-in">
          <svg class="panel-icon">
            <use xlink:href="#icon-plus">
              <svg id="icon-plus" viewBox="0 0 1024 1024">
                <title>Zoom In</title>
                <path d="M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z" class="path1"></path>
              </svg>
            </use>
          </svg>
        </li>
        <li class="zoom-in pointer" id="zoom-out">
          <svg class="panel-icon">
            <svg id="icon-minus" viewBox="0 0 1024 1024">
              <title>Zoom Out</title>
              <path d="M778.24 573.44h-532.48v-122.88h532.48v122.88z" class="path1"></path>
            </svg>
          </svg>
        </li>
        <li class="zoom-in pointer" id="layer-control">
          <svg class="panel-icon">
            <svg width="1.5em" height="1.5em" viewBox="-5 -5 20 20" class="bi bi-layers-fill" fill="#333" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z"/>
              <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z"/>
            </svg>

          </svg>
        </li>
      </ul>
    </div> -->

    <!-- <div class="legend-area  map-component">
      <div class="legend-map" id ="legend-marker">
        <img src="/img/legend-point-storm-class-2.png" height=40px;  alt="rainstorms legend">
      </div>
      <div class="legend-map" id="legend-img" style="display: none;">
        <img src="/img/legend-img-storm-class-2.png" height=40px;  alt="rainstorms legend">
      </div>
    </div> -->


</div>
  <div class="slide-tab-right">
    <p style="font-size:12px; font-weight:700;">MRC SUB-PROVINCES</p>
  </div>
  <div class="slide-tab-search" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFF" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </div>
  <div class="slide-tab-layer" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFF" class="bi bi-layers-half" viewBox="0 0 16 16">
      <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zM8 9.433L1.562 6 8 2.567 14.438 6 8 9.433z"/>
    </svg>
  </div>

</div>


</div>
